{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block fos_user_content %}
<div class="container">
    <h1 class="well well-large text-center text-primary">Veuillez saisir vos identifiants </h1>
{% if error %}
    <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-group">
        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
        </div>

        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
        </label>

    <input class="btn btn-lg btn-primary btn-block w3-hover-blue" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
</div>
    <div class="row w3-margin-top w3-center center-block">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
    </div>
{% endblock fos_user_content %}
