{% extends 'AppBundle::base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content %}

        <section class="box special">
            <ul class="actions margin-top">
                <li><a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-large w3-xlarge">{{ 'sano.signup'|trans }}</a></li>
                <li><a href="{{ path('sanocelo_vision') }}" class="btn btn-success btn-large w3-xlarge">{{ 'sano.menu_vision'|trans }}</a></li>
            </ul>
            <header class="major">

                <h2>Introducing the ultimate mobile app
                    <br />
                    for doing stuff with your phone</h2>
                <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                    adipiscing nunc adipiscing. Condimentum turpis massa.</p>
            </header>
            <span class="image featured">
                {% image '@AppBundle/Resources/public/images/notre_vision2.jpg' %}
                <img  class="featurette-image img-responsive center-block" src="{{ asset_url }}" style="width: 100%" alt="Sano Celo" />
                {% endimage %}
            </span>
        </section>

        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-bolt accent2"></span>
                    <h3>Magna etiam</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
                <section>
                    <span class="icon major fa-area-chart accent3"></span>
                    <h3>Ipsum dolor</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-cloud accent4"></span>
                    <h3>Sed feugiat</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
                <section>
                    <span class="icon major fa-lock accent5"></span>
                    <h3>Enim phasellus</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                </section>
            </div>
        </section>

        <div class="row">
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
                    <h3>Sed lorem adipiscing</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
                    <h3>Accumsan integer</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
        </div>
{% endblock %}